.home {
  display: flex;
  justify-content: center;
  gap: 20px;
  .item {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .title {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    padding: 15px 10px;
    border-radius: 4px;

    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
    height: 407px;
    img {
      width: 407px;
      height: auto;
      display: block;
    }
  }
  .personalInfo {
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-color: #ffe66e;
    span {
      display: block;
      font-size: 16px;
      font-weight: 900;
      padding: 10px 15px;
      background: #ffe66e;
    }
    ul {
      list-style: none;
      padding: 0 10px;
      margin: 10px 0;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      min-height: 133px;
    }
    /* width */
    ::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 4px;
    }
  }
  @media (max-width: 912px) {
    .title {
      font-size: 18px;
    }
  }
}
